{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "nav"}}
<main>
    <div class="position-relative">
        <section class="section section-lg section-shaped landing-margin">
            <div id="particles" class="particle"></div>
            <div class="shape shape-style-1 shape-default"></div>
            <div class="py-lg-md d-flex container">
                <div class="col px-0">
                    <div class="row">
                        <div class="lg-order-1 col-lg-8">
                            <h1 class="display-3 text-white landing-header">
                                Melon Games
                                <span class="landing-tagline shine" id="tagline">robots robots robots</span>
                            </h1>
                            <p class="join-today text-white pt-4">
                                <button class="btn btn-dark text-lowercase thick-300 shine">Join <b id="onlineComponent"><span id="onlineCount">0</span> <span id="playerComponent">players</span></b> on <b id="serverComponent">robots.melon.gg</b></button>
                            </p>
                        </div>
                        <div class="lg-order-2 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section section-lg" id="site-main">
        <div class="container">
            <div class="row-grid align-items-center row">
                <div class="order-md-1 col-md-12">
                    <div class="pr-md-5 recent-news">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon icon-shape icon-shape-success shadow rounded-circle mb-5">
                                    <i class="fa fa-journal-whills fa-fw"></i>
                                </div>
                            </div>
                            <div class="section-icon-position col-md-10">
                                <h4 class="text-success section-header">News</h4>
                            </div>
                        </div>
                        <p class="latest-post-info">
                            Stay up to date about the server through our frequent news posts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-deck card-deck-flex card-deck-top">
                {{#foreach posts limit="3"}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
            <p class="all-posts-section">
                Looking for something a bit older than the above posts? We've got you covered.
                <br>
                <br>
                <a class="btn btn-dark shine" href="/posts"><i class="fa fa-angle-right fa-fw"></i> view all published posts</a>
            </p>
        </div>
        </div>
    </section>
</main>
{{#contentFor "scripts"}}
<script>
    let serverAddress = $('meta[name=serverAddress]').attr('content') || 'play.melon.gg';
    let tagline = $('meta[name=tagline]').attr('content') || 'Custom Minecraft Minigames';

    $('#serverComponent').text(serverAddress);
    $('#tagline').text(tagline);

    $.ajax(`https://api.mcsrvstat.us/2/${serverAddress}`)
        .then((data, status, xhr) => {
            let { online } = data.players;
            let counter = new countUp.CountUp('onlineCount', online);

            if (!counter.error) {
                counter.start();
                $("#playerComponent").text('player' +
                    (online == 1 
                        ? '' 
                        : 's'
                    )
                )
                return;
            }

            $('#onlineComponent').html(`<span id="onlineCount">${online}</span> <span id="playerComponent">player${online == 1 ? '' : 's'}</span>`);
        },
        (xhr, status, err) => {
            Logging.warn('Data', `An error occurred while fetching network statistics.`);
        });
</script>
{{/contentFor}}