{{!< default}}
<link rel="stylesheet" href="{{asset "css/posts.css"}}">
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "nav"}}
<main>
    <div class="position-relative">
        <section class="section section-md section-shaped">
            <div id="particles" class="particle"></div>
            <div class="shape shape-style-1 shape-default"></div>
        </section>
    </div>
    <section class="section section-lg" id="site-main">
        <div class="container">
            <div class="card-deck card-deck-flex card-deck-top">
                {{#get "posts" include="tags,authors"}}
                    {{#foreach posts }}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>
</main>