.text-argon {
    color: #66A7C5 !important;
}

.profile-page .rank-icon {
    font-size: 17px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 1px;
}

.profile-page .statistic-section {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
}

.profile-page .user-title {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1.35rem;
    vertical-align: middle;
}

.profile-page .statistic-field {
    font-size: 12px;
    font-weight: 300;
}

.profile-page .statistic-field-sm {
    font-size: 11px;
    font-weight: 300;
}

.profile-page img.pfp {
    border: 2px solid #eee;
    width: 128px;
    height: 128px;
}

.profile-page svg.pfp, .profile-page object.pfp {
    width: 110px;
}

.profile-page .t-x {
    width: 32px;
    height: 32px;
}

.profile-page .social-bump {
    padding-right: 5px;
    font-size: 15px;
}

.profile-page .section-profile-cover {
    height: 450px !important;
}

.profile-page .statistic {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    min-height: 15px;
}

.profile-page .statistic .head {
    white-space: nowrap;
}

.profile-page .statistic .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px dotted #ccc;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: -14px;
}

.profile-page .statistic .value {
    font-size: 18px;
    margin-top: 0px;
    text-align: right;
    -webkit-font-feature-settings: "tnum" 1;
    font-feature-settings: "tnum" 1;
}

.profile-page .nav-pills .nav-link:hover .pills-success[aria-selected="false"] {
    color: #4fb053 !important;
}

.profile-page .pills-success[aria-selected="false"] {
    background-color: #fff !important;
    color: #4fb053 !important;
}

.profile-page .pills-success[aria-selected="true"] {
    color: #fff !important;
    background-color: #4fb053 !important;
}

.profile-posts-paginator-spacing {
    padding-top: 15px;
}

.c-help {
    cursor: help !important;
  }
  
.horizontal-divider {
    margin-top: 1.25rem;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.noti-title {
    font-size: .765rem;
    text-transform: none;
}

.statistic-section-icon-position {
    padding-bottom: 2px;
    margin-top: 0.35rem;
    margin-left: -40px;
}

.statistic-section-header {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.045em;
    margin-top: -3px;
}

.statistic-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.statistic-list .statistic-item {
    padding: 20px;
    background: white;
    display: flex;
    margin-bottom:10px;
    border-radius: 10px;
}

.statistic-list .statistic-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.statistic-list .statistic-image i {
    font-size: 35px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    padding-top: 11px;
}

.statistic-list .details {
    padding-left: 20px;
    border-left: 1px solid #eee;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistic-list .details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statistic-list .details p small {
    line-height: 0.7;
}

.statistic-collapse {
    margin-top: 15px;
}